<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->


<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <!-- RTF License Payload Group -->
    <Fragment>
        <PayloadGroup Id='WixStdbaRtfLicensePayloads'>
            <Payload Name='thm.xml' Compressed='yes' SourceFile='!(wix.WixStdbaThemeXml=$(var.Htc.Vita.Wix.StdBA.ProjectDir)Resources\RtfTheme.xml)' />
            <Payload Name='thm.wxl' Compressed='yes' SourceFile='!(wix.WixStdbaThemeWxl=$(var.Htc.Vita.Wix.StdBA.ProjectDir)Resources\RtfTheme.wxl)' />
            <Payload Name='logo.png' Compressed='yes' SourceFile='!(wix.WixStdbaLogo=$(var.Htc.Vita.Wix.StdBA.ProjectDir)Resources\logo.png)' />

            <Payload Name='!(wix.WixStdbaLicenseRtfName=license.rtf)' Compressed='yes' SourceFile='!(wix.WixStdbaLicenseRtf=$(var.Htc.Vita.Wix.StdBA.ProjectDir)Resources\LoremIpsumLicense.rtf)' />
        </PayloadGroup>

        <CustomTable Id='WixStdbaInformation'>
            <Row>
                <Data Column='LicenseFile'>!(wix.WixStdbaLicenseRtfName=license.rtf)</Data>
            </Row>
        </CustomTable>
    </Fragment>

    <!-- RTF Large License Payload Group -->
    <Fragment>
        <PayloadGroup Id='WixStdbaRtfLargeLicensePayloads'>
            <Payload Name='thm.xml' Compressed='yes' SourceFile='!(wix.WixStdbaThemeXml=$(var.Htc.Vita.Wix.StdBA.ProjectDir)Resources\RtfLargeTheme.xml)' />
            <Payload Name='thm.wxl' Compressed='yes' SourceFile='!(wix.WixStdbaThemeWxl=$(var.Htc.Vita.Wix.StdBA.ProjectDir)Resources\RtfTheme.wxl)' />
            <Payload Name='logo.png' Compressed='yes' SourceFile='!(wix.WixStdbaLogo=$(var.Htc.Vita.Wix.StdBA.ProjectDir)Resources\logo.png)' />

            <Payload Name='!(wix.WixStdbaLicenseRtfName=license.rtf)' Compressed='yes' SourceFile='!(wix.WixStdbaLicenseRtf=$(var.Htc.Vita.Wix.StdBA.ProjectDir)Resources\LoremIpsumLicense.rtf)' />
        </PayloadGroup>

        <CustomTable Id='WixStdbaInformation'>
            <Row>
                <Data Column='LicenseFile'>!(wix.WixStdbaLicenseRtfName=license.rtf)</Data>
            </Row>
        </CustomTable>
    </Fragment>

    <!-- Hyperlink License Payload Group -->
    <Fragment>
        <PayloadGroup Id='WixStdbaHyperlinkLicensePayloads'>
            <Payload Name='thm.xml' Compressed='yes' SourceFile='!(wix.WixStdbaThemeXml=$(var.Htc.Vita.Wix.StdBA.ProjectDir)Resources\HyperlinkTheme.xml)' />
            <Payload Name='thm.wxl' Compressed='yes' SourceFile='!(wix.WixStdbaThemeWxl=$(var.Htc.Vita.Wix.StdBA.ProjectDir)Resources\HyperlinkTheme.wxl)' />
            <Payload Name='logo.png' Compressed='yes' SourceFile='!(wix.WixStdbaLogo=$(var.Htc.Vita.Wix.StdBA.ProjectDir)Resources\logo.png)' />
        </PayloadGroup>

        <CustomTable Id='WixStdbaInformation'>
            <Row>
                <Data Column='LicenseUrl'>!(wix.WixStdbaLicenseUrl)</Data>
            </Row>
        </CustomTable>
    </Fragment>

    <!-- Hyperlink Large License Payload Group -->
    <Fragment>
        <PayloadGroup Id='WixStdbaHyperlinkLargeLicensePayloads'>
            <Payload Name='thm.xml' Compressed='yes' SourceFile='!(wix.WixStdbaThemeXml=$(var.Htc.Vita.Wix.StdBA.ProjectDir)Resources\HyperlinkLargeTheme.xml)' />
            <Payload Name='thm.wxl' Compressed='yes' SourceFile='!(wix.WixStdbaThemeWxl=$(var.Htc.Vita.Wix.StdBA.ProjectDir)Resources\HyperlinkTheme.wxl)' />
            <Payload Name='logo.png' Compressed='yes' SourceFile='!(wix.WixStdbaLogo=$(var.Htc.Vita.Wix.StdBA.ProjectDir)Resources\logo.png)' />
        </PayloadGroup>

        <CustomTable Id='WixStdbaInformation'>
            <Row>
                <Data Column='LicenseUrl'>!(wix.WixStdbaLicenseUrl)</Data>
            </Row>
        </CustomTable>
    </Fragment>

    <!-- HyperlinkSidebar License Payload Group -->
    <Fragment>
        <PayloadGroup Id='WixStdbaHyperlinkSidebarLicensePayloads'>
            <Payload Name='thm.xml' Compressed='yes' SourceFile='!(wix.WixStdbaThemeXml=$(var.Htc.Vita.Wix.StdBA.ProjectDir)Resources\HyperlinkSidebarTheme.xml)' />
            <Payload Name='thm.wxl' Compressed='yes' SourceFile='!(wix.WixStdbaThemeWxl=$(var.Htc.Vita.Wix.StdBA.ProjectDir)Resources\HyperlinkTheme.wxl)' />
            <Payload Name='logo.png' Compressed='yes' SourceFile='!(wix.WixStdbaLogo=$(var.Htc.Vita.Wix.StdBA.ProjectDir)Resources\logo.png)' />
            <Payload Name='logoside.png' Compressed='yes' SourceFile='!(wix.WixStdbaLogoSide=$(var.Htc.Vita.Wix.StdBA.ProjectDir)Resources\logoside.png)' />
        </PayloadGroup>

        <CustomTable Id='WixStdbaInformation'>
            <Row>
                <Data Column='LicenseUrl'>!(wix.WixStdbaLicenseUrl)</Data>
            </Row>
        </CustomTable>
    </Fragment>

    <!-- BootstrapperApplicationData tables definition -->
    <Fragment>
        <CustomTable Id='WixStdbaInformation' BootstrapperApplicationData='yes'>
            <Column Id='LicenseFile' Category='Text' Type='string' Width='0' Nullable='yes' PrimaryKey='yes' />
            <Column Id='LicenseUrl' Category='Text' Type='string' Width='0' Nullable='yes' PrimaryKey='yes' />
        </CustomTable>
    </Fragment>
</Wix>
